## COVID CASES in CDMX by code

In [1]:
# Import packages and set the working directory

import os
import glob
import pandas as pd
# os.chdir("/directory")

In [2]:
pwd

'C:\\Users\\pabli\\data-project\\COVID_CASES'

In [3]:
os.chdir("/Users/pabli/data-project/COVID_CASES/Source")

In [4]:
!ls

200701_base_historica.csv
200702_base_historica.csv
200703_base_historica.csv
200704_base_historica.csv
200705_base_historica.csv
200706_base_historica.csv
200707_base_historica.csv
200708_base_historica.csv
200709_base_historica.csv
200710_base_historica.csv
200711_base_historica.csv
200712_base_historica.csv
200713_base_historica.csv
200714_base_historica.csv
200715_base_historica.csv
200716_base_historica.csv
200717_base_historica.csv
200718_base_historica.csv
200719_base_historica.csv
200720_base_historica.csv
200721_base_historica.csv
200722_base_historica.csv
200723_base_historica.csv
200724_base_historica.csv
200726_base_historica.csv
200727_base_historica.csv
200728_base_historica.csv
200729_base_historica.csv
200730_base_historica.csv
200731_base_historica.csv
200801_base_historica.csv
200802_base_historica.csv
200803_base_historica.csv
200804_base_historica.csv
200806_base_historica.csv
200807_base_historica.csv
200808_base_historica.csv
200809_base_historica.csv
200810_base_historica.csv
200811_base_historica.csv
200812_base_historica.csv
200813_base_historica.csv
200814_base_historica.csv
200815_base_historica.csv
200819_base_historica.csv
historico_sinave_sem1_ago20.csv
historico_sinave_sem1_dic20.csv
historico_sinave_sem1_ene21.csv
historico_sinave_sem1_nov20.csv
historico_sinave_sem1_oct20.csv
historico_sinave_sem1_sep20.csv
historico_sinave_sem10_mar21.csv
historico_sinave_sem11_mar21.csv
historico_sinave_sem12_mar21.csv
historico_sinave_sem2_ago20.csv
historico_sinave_sem2_dic20.csv
historico_sinave_sem2_ene21.csv
historico_sinave_sem2_feb21.csv
historico_sinave_sem2_nov20.csv
historico_sinave_sem2_oct20.csv
historico_sinave_sem2_sep20.csv
historico_sinave_sem3_ene21.csv
historico_sinave_sem3_feb21.csv
historico_sinave_sem3_nov20.csv
historico_sinave_sem3_oct20.csv
historico_sinave_sem3_sep20.csv
historico_sinave_sem34_ago20.csv
historico_sinave_sem35_ago20.csv
historico_sinave_sem36_ago20.csv
historico_sinave_sem37_sep20.csv
historico_sinave_sem38_sep20.csv
historico_sinave_sem39_sep20.csv
historico_sinave_sem4_dic20.csv
historico_sinave_sem4_dic21.csv
historico_sinave_sem4_ene21.csv
historico_sinave_sem4_nov20.csv
historico_sinave_sem4_oct20.csv
historico_sinave_sem4_sep20.csv
historico_sinave_sem40_sep20.csv
historico_sinave_sem41_oct20.csv
historico_sinave_sem43_oct20.csv
historico_sinave_sem44_oct20.csv
historico_sinave_sem45_nov20.csv
historico_sinave_sem46_nov20.csv
historico_sinave_sem47_nov20.csv
historico_sinave_sem48_nov20.csv
historico_sinave_sem49_nov20.csv
historico_sinave_sem5_ene21.csv
historico_sinave_sem5_nov20.csv
historico_sinave_sem50_dic20.csv
historico_sinave_sem51_dic20.csv
historico_sinave_sem52_dic20.csv
historico_sinave_sem53_dic20.csv
historico_sinave_sem6_feb21.csv
historico_sinave_sem7_feb21.csv
historico_sinave_sem8_feb21.csv
historico_sinave_sem9_feb21.csv
historico-sinave.csv

In [5]:
!pwd

/c/Users/pabli/data-project/COVID_CASES/Source

In [6]:
#Use Global To Match The Pattern ‘.csv’

file_extension = '.csv'
all_filenames = [i for i in glob.glob(f"*{file_extension}")]

print(f"These are all of the filenames ending in .csv {all_filenames}.")

These are all of the filenames ending in .csv ['200701_base_historica.csv', '200702_base_historica.csv', '200703_base_historica.csv', '200704_base_historica.csv', '200705_base_historica.csv', '200706_base_historica.csv', '200707_base_historica.csv', '200708_base_historica.csv', '200709_base_historica.csv', '200710_base_historica.csv', '200711_base_historica.csv', '200712_base_historica.csv', '200713_base_historica.csv', '200714_base_historica.csv', '200715_base_historica.csv', '200716_base_historica.csv', '200717_base_historica.csv', '200718_base_historica.csv', '200719_base_historica.csv', '200720_base_historica.csv', '200721_base_historica.csv', '200722_base_historica.csv', '200723_base_historica.csv', '200724_base_historica.csv', '200726_base_historica.csv', '200727_base_historica.csv', '200728_base_historica.csv', '200729_base_historica.csv', '200730_base_historica.csv', '200731_base_historica.csv', '200801_base_historica.csv', '200802_base_historica.csv', '200803_base_historica.csv', '200804_base_historica.csv', '200806_base_historica.csv', '200807_base_historica.csv', '200808_base_historica.csv', '200809_base_historica.csv', '200810_base_historica.csv', '200811_base_historica.csv', '200812_base_historica.csv', '200813_base_historica.csv', '200814_base_historica.csv', '200815_base_historica.csv', '200819_base_historica.csv', 'historico-sinave.csv', 'historico_sinave_sem10_mar21.csv', 'historico_sinave_sem11_mar21.csv', 'historico_sinave_sem12_mar21.csv', 'historico_sinave_sem1_ago20.csv', 'historico_sinave_sem1_dic20.csv', 'historico_sinave_sem1_ene21.csv', 'historico_sinave_sem1_nov20.csv', 'historico_sinave_sem1_oct20.csv', 'historico_sinave_sem1_sep20.csv', 'historico_sinave_sem2_ago20.csv', 'historico_sinave_sem2_dic20.csv', 'historico_sinave_sem2_ene21.csv', 'historico_sinave_sem2_feb21.csv', 'historico_sinave_sem2_nov20.csv', 'historico_sinave_sem2_oct20.csv', 'historico_sinave_sem2_sep20.csv', 'historico_sinave_sem34_ago20.csv', 'historico_sinave_sem35_ago20.csv', 'historico_sinave_sem36_ago20.csv', 'historico_sinave_sem37_sep20.csv', 'historico_sinave_sem38_sep20.csv', 'historico_sinave_sem39_sep20.csv', 'historico_sinave_sem3_ene21.csv', 'historico_sinave_sem3_feb21.csv', 'historico_sinave_sem3_nov20.csv', 'historico_sinave_sem3_oct20.csv', 'historico_sinave_sem3_sep20.csv', 'historico_sinave_sem40_sep20.csv', 'historico_sinave_sem41_oct20.csv', 'historico_sinave_sem43_oct20.csv', 'historico_sinave_sem44_oct20.csv', 'historico_sinave_sem45_nov20.csv', 'historico_sinave_sem46_nov20.csv', 'historico_sinave_sem47_nov20.csv', 'historico_sinave_sem48_nov20.csv', 'historico_sinave_sem49_nov20.csv', 'historico_sinave_sem4_dic20.csv', 'historico_sinave_sem4_dic21.csv', 'historico_sinave_sem4_ene21.csv', 'historico_sinave_sem4_nov20.csv', 'historico_sinave_sem4_oct20.csv', 'historico_sinave_sem4_sep20.csv', 'historico_sinave_sem50_dic20.csv', 'historico_sinave_sem51_dic20.csv', 'historico_sinave_sem52_dic20.csv', 'historico_sinave_sem53_dic20.csv', 'historico_sinave_sem5_ene21.csv', 'historico_sinave_sem5_nov20.csv', 'historico_sinave_sem6_feb21.csv', 'historico_sinave_sem7_feb21.csv', 'historico_sinave_sem8_feb21.csv', 'historico_sinave_sem9_feb21.csv'].

In [11]:
#Let’s Combine All Of The Files Within The List And Export as a CSV

all_filenames[0]

'200701_base_historica.csv'

In [20]:
df = pd.read_csv('historico_sinave_sem6_feb21.csv')
df

,Unnamed: 0,alcaldia,colonia,clave_colonia,total_210208,total_210209,total_210210,total_210211,total_210212,total_210213,total_210214
0,1,AZCAPOTZALCO,ARENAL,02-006,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,AZCAPOTZALCO,CUITLHUAC 3 Y 4 (U HAB),02-014,NaN,9.0,9.0,9.0,8.0,8.0,7.0
2,3,AZCAPOTZALCO,DEL GAS,02-015,8.0,8.0,9.0,9.0,9.0,9.0,8.0
3,4,AZCAPOTZALCO,DEL RECREO,02-018,21.0,23.0,22.0,18.0,19.0,17.0,16.0
4,5,AZCAPOTZALCO,EL ROSARIO C (U HAB),02-025,33.0,28.0,21.0,23.0,24.0,31.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...
1565,1566,TLALPAN,HACIENDA SAN JUAN-RINCON DE SAN JUAN-CHIMALI,12-053,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1566,1567,MIGUEL HIDALGO,PALMITAS (POLANCO),16-059,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1567,1568,GUSTAVO A. MADERO,EL ARBOLILLO,05-045,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568,1569,IZTAPALAPA,LOMAS ESTRELLA III (U HAB),07-127,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1569,1570,COYOACAN,LA CANTERA (U HAB),03-064,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
print(df.shape)

(1570, 11)

In [22]:
df2 = pd.read_csv('historico_sinave_sem1_ago20.csv')
df2

,Unnamed: 0,alcaldia,colonia,clave_colonia,total_200820,total_200821,total_200822,total_200823,total_200824,total_200825,total_200826
0,1,AZCAPOTZALCO,ARENAL,02-006,10.0,10.0,14.0,9.0,6.0,NaN,7.0
1,2,AZCAPOTZALCO,CUITLHUAC 3 Y 4 (U HAB),02-014,6.0,NaN,6.0,6.0,6.0,NaN,NaN
2,3,AZCAPOTZALCO,DEL GAS,02-015,9.0,8.0,9.0,6.0,6.0,6.0,9.0
3,4,AZCAPOTZALCO,DEL RECREO,02-018,7.0,8.0,9.0,7.0,NaN,NaN,13.0
4,5,AZCAPOTZALCO,EL ROSARIO C (U HAB),02-025,13.0,13.0,18.0,14.0,13.0,10.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...
1552,1553,TLALPAN,SECCION XVI,12-165,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,1554,IZTAPALAPA,BARRANCAS DE GUADALUPE,07-013,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1554,1555,MIGUEL HIDALGO,POLANCO REFORMA (POLANCO),16-065,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1555,1556,CUAJIMALPA DE MORELOS,AMADO NERVO,04-005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1556,1557,ALVARO OBREGON,ESTADO DE HIDALGO (AMPL),10-070,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
dfmerge = df.merge(df2, how="outer", on="clave_colonia")
dfmerge.head()

,Unnamed: 0_x,alcaldia_x,colonia_x,clave_colonia,total_210208,total_210209,total_210210,total_210211,total_210212,total_210213,...,Unnamed: 0_y,alcaldia_y,colonia_y,total_200820,total_200821,total_200822,total_200823,total_200824,total_200825,total_200826
0,1,AZCAPOTZALCO,ARENAL,02-006,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,AZCAPOTZALCO,ARENAL,10.0,10.0,14.0,9.0,6.0,NaN,7.0
1,2,AZCAPOTZALCO,CUITLHUAC 3 Y 4 (U HAB),02-014,NaN,9.0,9.0,9.0,8.0,8.0,...,2.0,AZCAPOTZALCO,CUITLHUAC 3 Y 4 (U HAB),6.0,NaN,6.0,6.0,6.0,NaN,NaN
2,3,AZCAPOTZALCO,DEL GAS,02-015,8.0,8.0,9.0,9.0,9.0,9.0,...,3.0,AZCAPOTZALCO,DEL GAS,9.0,8.0,9.0,6.0,6.0,6.0,9.0
3,4,AZCAPOTZALCO,DEL RECREO,02-018,21.0,23.0,22.0,18.0,19.0,17.0,...,4.0,AZCAPOTZALCO,DEL RECREO,7.0,8.0,9.0,7.0,NaN,NaN,13.0
4,5,AZCAPOTZALCO,EL ROSARIO C (U HAB),02-025,33.0,28.0,21.0,23.0,24.0,31.0,...,5.0,AZCAPOTZALCO,EL ROSARIO C (U HAB),13.0,13.0,18.0,14.0,13.0,10.0,11.0

In [28]:

for f in all_filenames : on=["clave_colonia","alcaldia"],

combined_csv_data = pd.merge([pd.read_csv(f, delimiter='clave_colonia') for f in all_filenames])




combined_csv_data

<ipython-input-28-c94c66868bf0>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  combined_csv_data = pd.merge([pd.read_csv(f, delimiter='clave_colonia') for f in all_filenames])

TypeError: merge() missing 1 required positional argument: 'right'

In [17]:
combined_csv_data = pd.merge([pd.read_csv(f, delimiter='clave_colonia') for f in all_filenames])
combined_csv_data

<ipython-input-17-3723e3f89eb0>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  combined_csv_data = pd.concat([pd.read_csv(f, delimiter='clave_colonia') for f in all_filenames])

,"alcaldia,colonia,",",total_200629,total_200630,total_200701",",total_200629,total_200630,total_200701,total_200702",",total_200629,total_200630,total_200701,total_200702,total_200703",",total_200629,total_200630,total_200701,total_200702,total_200703,total_200704",",total_200629,total_200630,total_200701,total_200702,total_200703,total_200704,total_200705",",total_200629,total_200630,total_200701,total_200702,total_200703,total_200704,total_200705,total_200706",",total_200629,total_200630,total_200701,total_200702,total_200703,total_200704,total_200705,total_200706,total_200707",",total_200629,total_200630,total_200701,total_200702,total_200703,total_200704,total_200705,total_200706,total_200707,total_200708",",total_200629,total_200630,total_200701,total_200702,total_200703,total_200704,total_200705,total_200706,total_200707,total_200708,total_200709",...,""",""total_201207"",""total_201208"",""total_201209"",""total_201210"",""total_201211"",""total_201212"",""total_201213""",""",""total_201214"",""total_201215"",""total_201216"",""total_201217"",""total_201218"",""total_201219"",""total_201220""",""",""total_201221"",""total_201222"",""total_201223"",""total_201224"",""total_201225"",""total_201226"",""total_201227""",""",""total_201228"",""total_201229"",""total_201230"",""total_201231"",""total_210101"",""total_210102"",""total_210103""",""",""total_210201"",""total_210202"",""total_210203"",""total_210204"",""total_210205"",""total_210206"",""total_210207""",""",""total_201128"",""total_201129"",""total_201130"",""total_201201"",""total_201202"",""total_201203""",""",""total_210208"",""total_210209"",""total_210210"",""total_210211"",""total_210212"",""total_210213"",""total_210214""",""",""total_210215"",""total_210216"",""total_210217"",""total_210218"",""total_210219"",""total_210220"",""total_210221""",""",""total_210222"",""total_210223"",""total_210224"",""total_210225"",""total_210226"",""total_210227"",""total_210228""",""",""total_210301"",""total_210302"",""total_210303"",""total_210304"",""total_210305"",""total_210306"",""total_210307"""
0,"GUSTAVO A. MADERO,BENITO JUAREZ,05-011,NA,6,NA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"GUSTAVO A. MADERO,CONSTITUCION DE LA REPUBLICA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"GUSTAVO A. MADERO,CUCHILLA DEL TESORO,05-035,1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"GUSTAVO A. MADERO,GERTRUDIS SANCHEZ 2A SECCION...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"GUSTAVO A. MADERO,MARTIRES DE RIO BLANCO,05-12...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
pd.read_csv(f)

NameError: name 'f' is not defined

In [14]:
pd.concat()

TypeError: concat() missing 1 required positional argument: 'objs'

In [15]:
os.chdir('..')

In [16]:
pwd

'C:\\Users\\pabli\\data-project\\COVID_CASES'

In [17]:
combined_csv_data.to_csv('combined_csv_data.csv')

In [ ]:
# Combine the data into a single dataset
merge_table = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="left")

# Display the data table for preview
merge_table.head()

In [ ]:
# Checking the number of mice.

micenumber = len(merge_table["Mouse ID"].unique()) 
micenumber

#We can see that we have 249 unique rows

In [ ]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_mice = merge_table[merge_table.duplicated(['Mouse ID', 'Timepoint'])]
duplicate_mice

In [ ]:
# Optional: Get all the data for the duplicate mouse ID. 

duplicate_mice_rows = merge_table[merge_table.duplicated(['Mouse ID',])]
duplicate_mice_rows

In [ ]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_dataframe = merge_table.drop_duplicates("Mouse ID")
clean_dataframe

In [ ]:
# Checking the number of mice in the clean DataFrame.

micenumbercleaned = len(clean_dataframe["Mouse ID"])
micenumbercleaned

## Summary Statistics

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.


mean_mice = merge_table.groupby('Drug Regimen')['Tumor Volume (mm3)'].mean()
median_mice = merge_table.groupby('Drug Regimen')['Tumor Volume (mm3)'].median()
variance_mice = merge_table.groupby('Drug Regimen')['Tumor Volume (mm3)'].var()
standarddv_mice = merge_table.groupby('Drug Regimen')['Tumor Volume (mm3)'].std()
sem_mice = merge_table.groupby('Drug Regimen')['Tumor Volume (mm3)'].sem()

summary = pd.DataFrame({"Mean": mean_mice, "Median": median_mice, "Variance": variance_mice, "Standard Deviation": standarddv_mice, "SEM": sem_mice})
summary

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

merge_table.groupby('Drug Regimen')['Tumor Volume (mm3)'].describe()

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

drug_data = pd.DataFrame(merge_table.groupby(["Drug Regimen"]).count()).reset_index()
drugs_df = drug_data[["Drug Regimen", "Mouse ID"]]
drugs_df = drugs_df.set_index("Drug Regimen")
drugs_df.plot(kind="bar", figsize=(10,3), color='r', alpha=0.5, align="edge")
plt.tight_layout()
plt.xticks(rotation="horizontal")
plt.title("Drug Treatment Count")
plt.xlabel("Drug Regimen")
plt.ylabel("Count")
plt.xlim(-0.25, 5)
plt.ylim(0, 250)
plt.show()

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.
drug_list = summary.index.tolist()

drug_count = (merge_table.groupby(["Drug Regimen"])["Age_months"].count()).tolist()

x_axis = np.arange(len(drug_count))
x_axis = drug_list
plt.figure(figsize=(10,3))
plt.bar(x_axis, drug_count, color='r', alpha=0.5, align="edge")
plt.xticks(rotation="horizontal")
plt.title("Drug Treatment Count")
plt.xlabel("Drug Regimen")
plt.ylabel("Count")
plt.xlim(-0.25, 5)
plt.ylim(0, 250)
plt.show()

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

gender_df = pd.DataFrame(merge_table.groupby(["Sex"]).count()).reset_index()
gender_df = gender_df[["Sex","Mouse ID"]]
plt.figure(figsize=(12,6))
ax1 = plt.subplot(121, aspect="equal")
gender_df.plot(kind="pie", y = "Mouse ID", ax=ax1, autopct='%1.1f%%',
              startangle=190, shadow=True, labels=gender_df["Sex"], legend = False, fontsize=14)

plt.title("Male & Female Mice Percentage")
plt.xlabel("")
plt.ylabel("")

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot
gender_count = (merge_table.groupby(["Sex"])["Age_months"].count()).tolist()
labels = ["Females", "Males"]
colors = ["blue", "red"]
explode = (0.1, 0)
plt.pie(gender_count, explode=explode, labels=labels, colors=colors, autopct="%1.1f%%", shadow=True, startangle=160)
plt.axis("equal")

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin


# Start by getting the last (greatest) timepoint for each mouse

max_timepoint_df = pd.DataFrame(merge_table.groupby('Mouse ID')['Timepoint'].max().sort_values()).reset_index().rename(columns={'Timepoint': 'max_timepoint'})
max_timepoint_df

# Merge this group df with the original dataframe to get the tumor volume at the last timepoint
merge_group = pd.merge(max_timepoint_df, merge_table, on="Mouse ID", how="left")
merge_group

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)
treatments = ['Capomulin', 'Ceftamin', 'Infubinol', 'Ketapril','Naftisol','Placebo','Propriva'
             'Ramicane','Stelasyn','Zoniferol'] 


# Create empty list to fill with tumor vol data (for plotting)

tumor_vol_data = []


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

for treatment in treatments:




    # Locate the rows which contain mice on each drug and get the tumor volumes
    drug_df = merge_group.loc[merge_group['Drug Regimen'] == treatment]

    
    # add subset 
    
    final_volume_df = drug_df.loc[drug_df['Timepoint'] == drug_df['max_timepoint']]

    # Determine outliers using upper and lower bounds
    values = final_volume_df['Tumor Volume (mm3)']
    
    tumor_vol_data.append(values)

    quartiles = values.quantile([.25, .5, .75])
    lowerq = quartiles[.25]
    upperq = quartiles[.75]
    iqr = upperq - lowerq

    print(f'IQR for {treatment}: {iqr}')

    lower_bound = lowerq - (1.5*iqr)
    upper_bound = upperq + (1.5*iqr)

    print(f'Lower Bound for {treatment}: {lower_bound}')
    print(f'Upper Bound for {treatment}: {upper_bound}')
    outliers_count = (values.loc[(final_volume_df['Tumor Volume (mm3)'] >= upper_bound) |
                                    (final_volume_df['Tumor Volume (mm3)'] <= lower_bound)]).count()

    print(f'Number of {treatment} outliers: {outliers_count}')

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

flierprops = dict(marker='o', markerfacecolor='r', markersize=8, markeredgecolor='black')

plt.boxplot(tumor_vol_data, flierprops=flierprops)
plt.title('Final Tumor Volume by Drug')
plt.ylabel('Final Tumor Volume (mm3)')
plt.xticks([1, 2, 3, 4], ['Capomulin', 'Ramicane', 'Infubinol', 'Ceftamin'])
plt.show()

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin


#find a mouse    

merge_table.loc[merge_table['Drug Regimen'] == 'Capomulin'].head(10)


mouse = merge_table.loc[merge_table['Mouse ID'] == 'u364']
plt.plot(mouse['Timepoint'], mouse['Tumor Volume (mm3)'], marker='o', color = 'b')
plt.xlabel("Time (days)")
plt.ylabel("Tumor Volume (mm3)")
plt.title("Capomulin Treatment of Mouse s185")
# Display
plt.show()

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

#into Capomulin
capomulin_df = merge_table.loc[merge_table['Drug Regimen'] == 'Capomulin']


#Average tumor of mouse ID group

avg_vol_df = pd.DataFrame(capomulin_df.groupby('Mouse ID')['Tumor Volume (mm3)'].mean()).reset_index().rename(columns={'Tumor Volume (mm3)': 'avg_tumor_vol'})
avg_vol_df = pd.merge(capomulin_df, avg_vol_df, on='Mouse ID')
final_avg_vol_df = avg_vol_df[['Weight (g)', 'avg_tumor_vol']].drop_duplicates()

x_data = final_avg_vol_df['Weight (g)']
y_data = final_avg_vol_df['avg_tumor_vol']

plt.scatter(x_data, y_data)
# Labels

plt.xlabel("Weight")
plt.ylabel("Average Tumor Volume (mm3)")
plt.title('Average Tumor Volume by Weight')
# Display
plt.show()

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen
correlation_coef = st.pearsonr(x_data, y_data)

(slope, intercept, rvalue, pvalue, stderr) = linregress(x_data, y_data)
regress_values = x_data * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_data, y_data)
plt.plot(x_data, regress_values, 'r-')